TELEGRAM_BOT_TOKEN=replace_with_token_from_BotFather
TELEGRAM_ALLOWED_CHAT_IDS=123456789
SOILNET_P1_CHECKPOINT=/opt/soilnet/models/P1_noLI_validation_best_regression.pth
SOILNET_DEMO_LOG_DIR=/var/log/soilnet
SOILNET_DEMO_CONFIG=/home/pi/SoilNet/config/deployment/iphone_demo.yaml
# SOILNET_ENABLE_PUMP=YES_I_HAVE_VERIFIED_HARDWARE
